$primary-color: #15FFF5;

@mixin textShadow($theme: #FFF) {
  text-shadow: 0.55rem 0.55rem $theme;
}

/* Footer */
#footer {
  @include textShadow;

  .form__footer, .cgv__footer, .cgu__footer {
    @include textShadow($theme: $primary-color);
  }

  .form__footer {
    margin: 1rem;
  }

  .cgv__footer, .cgu__footer {
    margin: 0.5rem;
  }

  .cgv__footer {
    .button{
      margin: 1rem;
      padding: 1rem;
      font-size: 1.5rem;
    }
  }

}